<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<listeners>
		<listener class-name="MarketPlace.TestComponents.Listeners"></listener>
	</listeners>



	<test thread-count="5" name="Submit Test">
		<classes>
			<class name="MarketPlace.Tests.Submit" />
		</classes>
	</test> <!--
	Submit Test -->



	<test thread-count="5" name="Error Validation Test">
		<classes>
			<class name="MarketPlace.Tests.ErrorValidation" />
		</classes>
	</test> <!--
	Error Validation Test -->


</suite> <!--
Suite -->
